<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sexy <%= title %></h1>
    <p>Welcome to my dream <%= title.toLowerCase() %></p>
    <ul>
      <% car.forEach(function(car) { %>
        <li>
          <a href="/cars/<%= car.id %>"><%= car.name %></a>
        </li>
        <% }) %>
    </ul>
  </body>
</html>